venv/
__pycache__/
*.pyc
*.pyo
.DS_Store
.env
setup_requirements.bat
config.json
kaggle.json
test.css
logs/
data/
ucsd-book-graph/
analytics.db
_hidden/

# LaTeX-specific exclusions
*.aux
*.blg
*.out
*.log
*.bbl
*.synctex.gz
*.fdb_latexmk
*.fls
Report_1.log
Report_1.fls

outputs/
datasets/
indexes/
models/
clusters/
.obsidian/
